<div class="row">
    <div class="jumbotron">
        <div class="content">
            <img src="../../assets/img/secret-santa.png" alt="Secret Santa">
            <h1 class="text-center">Secret Santa {{ home.year }}!</h1>
        </div>
    </div>
</div>
<div class="row row-cta">
    <div class="col-xs-12 col-md-6 col-md-offset-3">
        <a ng-click="home.generateMatches()" class="btn btn-primary btn-block btn-lg icon-item" href="#" role="button">
            <i class="sl-refresh"></i>
            <span>Generate matches</span>
        </a>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 col-md-10 col-md-offset-1">
        <div class="alert alert-danger" ng-if="home.error">
            {{ home.error }}
        </div>
        <div class="welcome" ng-if="home.matches.length === 0">
            <h2 class="title text-primary">Welcome to Secret Santa App!!</h2>
            Hit the above button to generate the list of matches of this year.
            The person on the left is the one sending the gift to the person on the left.
            You can hit the button as many times you want until you are happy with the generated
            <br>
            Happy gifting!!
            <span class="icon">
                <i class="sl-present text-primary"></i>
            </span>
        </div>
        <ul class="list-match" ng-if="home.matches.length > 0">
            <li class="match clearfix" ng-repeat="match in home.matches">
                <div class="well col-xs-6">
                    <div class="avatar">
                        <img src="../../assets/img/avatar.png" alt="{{match.sender.name.first}} {{match.sender.name.last}}">
                    </div>
                    <h2 class="title">
                        {{match.sender.name.first}} {{match.sender.name.last}}
                    </h2>
                    <ul class="contact-data">
                        <li class="icon-item">
                            <a href="mailto:{{match.sender.email}}">
                                <i class="sl-envelope"></i>
                                <span class="hidden-xs">{{match.sender.email}}</span>
                            </a>
                        </li>
                        <li class="icon-item">
                            <a href="tel:{{match.sender.phone}}">
                                <i class="sl-phone"></i>
                                <span class="hidden-xs">{{match.sender.phone}}</span>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="well col-xs-6">
                    <div class="avatar">
                        <img src="../../assets/img/avatar.png" alt="{{match.sender.name.first}} {{match.sender.name.last}}">
                    </div>
                    <h2 class="title">
                        {{match.receiver.name.first}} {{match.receiver.name.last}}
                    </h2>
                    <ul class="contact-data">
                        <li class="icon-item">
                            <a href="mailto:{{match.receiver.email}}">
                                <i class="sl-envelope"></i>
                                <span class="hidden-xs">{{match.receiver.email}}</span>
                            </a>
                        </li>
                        <li class="icon-item">
                            <a href="tel:{{match.receiver.phone}}">
                                <i class="sl-phone"></i>
                                <span class="hidden-xs">{{match.receiver.phone}}</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
        </ul>
    </div>
</div>
